version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: identity_postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d

  redis:
    image: redis:7
    container_name: identity_redis
    restart: always
    ports:
      - "${REDIS_PORT}:6379"

volumes:
  postgres_data:
